<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sklep muzyczny</title>
</head>
<body>
<h1>Sklep muzyczny</h1>
<p>dodaj do koszyka wybrane produkty</p>


<!--<ul>-->
<!--<li th:each="product: ${productList}">-->
<!--<p th:text=“${product.name}“>pro</p>-->

<!--</li>-->
<!--</ul>-->


<table>
    <thead>
    <tr>
        <!--<th>Name</th>-->
        <!--<th>Price</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod: ${productList}">
        <!--<td ><h3 th:text="pro +${prod.name}"></h3></td>-->
        <!--<td th:text="${prod.price}"></td>-->
        <h1 th:text="${prod.name}"></h1>
        <h3 th:text="${prod.getProducer()}"></h3>
        <img th:src="${prod.getImgUrl()}"></img>
        <h4 th:text="${prod.getPrice()}"></h4>
        <form action="/addbasket" method="post">
            <input type="hidden" th:value="${prod.name}" name="name"/>
            Ilość <input type="number" step="1" min="1" value="1" name="ilosc"/>
            <input type="submit" value="Dodaj">
        </form>
    </tr>
    </tbody>
</table>


</body>
</html>